<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ay.dao.AyUserDao">
    <sql id="userField">
        /*使用$而不是#*/
        ${prefix}.id as "id",
        ${prefix}.name as "name",
        ${prefix}.password as "password"
    </sql>
    <resultMap id="userMap" type="com.ay.model.AyUser">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
    </resultMap>

    <!-- 通过用户名或密码查询用户 -->
    <!--<select id="findByNameAndPassword" parameterType="String" resultMap="userMap">
        select
        <include refid="userField"></include>
        from ay_user a
        where 1=1
        <if test="name != null and name != ''">
            and name = #{name}
        </if>
        <if test="password != null and password != ''">
            and password = #{password}
        </if>
    </select>-->

    <!--<select id="findByNameAndPassword" parameterType="String" resultMap="userMap">
        select
        <include refid="userField"></include>
        from ay_user a
        where 1=1
        <choose>
            <when test="name != null and name != ''">
                and name = #{name}
            </when>
            <when test="password != null and password != ''">
                and password = #{password}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
    </select>-->

    <!--<select id="findByNameAndPassword" parameterType="String" resultMap="userMap">
        select
        <include refid="userField"></include>
        from ay_user a
        where 1=1
        <trim prefix="where" prefixOverrides="and">
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="password != null and password !=''">
                and password = #{password}
            </if>
        </trim>
    </select>-->

    <!--<select id="findByNameAndPassword" parameterType="String" resultType="com.ay.model.AyUser">
        <bind name="name_pattern" value="'%' + name '%'"/>
        <bind name="password_pattern" value="'%' + password + '%'"/>
        select * from ay_user
        <where>
            <if test="name != null and name !=''">
                and name like #{name_pattern}
            </if>
            <if test="password != null and password != ''">
                and password like #{password}
            </if>
        </where>
    </select>-->

    <!-- 使用map -->
    <select id="findByNameAndPassword" parameterType="map" resultMap="userMap">
        select * from ay_user a
        <where>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
        </where>
    </select>

    <!-- 获取所有的用户 -->
    <select id="findAll" resultMap="userMap">
        select
        <include refid="userField">
            <property name="prefix" value="a"/>
        </include>
        from ay_user a
    </select>

    <select id="findById" parameterType="String" resultType="com.ay.model.AyUser">
        select * from ay_user
        where id = #{id}
    </select>

    <select id="findByIds" resultType="com.ay.model.AyUser">
        select * from ay_user
        where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <!-- 实例1:通过名称查询用户 -->
    <!--<select id="findByName" parameterType="String" resultType="com.ay.model.AyUser">
        select * from ay_user
        where name = #{name}
    </select>-->
    <!--<select id="findByName" parameterType="String" resultType="com.ay.model.AyUser">
        select * from ay_user where 1=1
        <if test="name != null and name != ''">
            and name = #{name}
        </if>
    </select>-->
    <!-- 可以对where 1=1 进行优化 -->
    <select id="findByName" parameterType="String" resultType="com.ay.model.AyUser">
        select * from ay_user
        <where>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
        </where>
    </select>

    <!-- 实例2:通过名称查询用户个数 -->
    <select id="countByName" parameterType="String" resultType="java.lang.Integer" >
        select count(*) from ay_user
        where name = #{name}
    </select>

    <!-- 顺序映射 -->
    <select id="findByNameAndPassword2" parameterType="String" resultType="com.ay.model.AyUser">
        select * from ay_user a
        where 1=1 and name = #{name} and password = #{password}
    </select>


    <!--
        实例2:插入用户数据,主键自增
        useGeneratedKeys="true" 使用数据库内部规则生成id
        keyProperty 表示哪一列是主键
        statementType="PREPARED" 说明是prestatement的生成语句
    -->
    <!--<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.ay.model.AyUser">
        insert into ay_user(name, password) value (#{name}, #{password})
    </insert>-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.ay.model.AyUser">
        <selectKey keyProperty="id" resultType="int" order="BEFORE" >
            select MAX(id)+1 as id from ay_user
        </selectKey>
        insert into ay_user(id, name, password) value (#{id}, #{name}, #{password})
    </insert>

    <!--<update id="update" parameterType="com.ay.model.AyUser">
        update ay_user SET
        name = #{name},
        password = #{password}
        where id = #{id}
    </update>-->
    <!--<update id="update" parameterType="com.ay.model.AyUser">
        update ay_user
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
        </trim>
        where id = #{id}
    </update>-->

    <update id="update" parameterType="com.ay.model.AyUser">
        update ay_user
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        delete form ay_user
        where id = #{id}
    </delete>

    <delete id="deleteByName" parameterType="String">
        delete from ay_user
        where name = #{name}
    </delete>


</mapper>